
*{ margin:0;padding:0;transition: all .2s ease-in-out 0s;}
a{ text-decoration: none;font-size: 0px;}
body{ -webkit-text-size-adjust:none;
      font-family: "STHeiti","STHeiti Light","Arial","SimHei","Microsoft YaHei","SimSun";
      max-width: 1920px;
      min-width: 1024px;
      margin: 0 auto;}
img,video{border:0;vertical-align:bottom;}/*兼容IE低版本性*/

.top {width: 100%;
      position: absolute;
      top: 0px;
      z-index: 1;
      box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.03);}
.main{width: 100%;
      padding-top: 10px;
      position: absolute;
      top: 0px;
      bottom: 0px;
      overflow-y:scroll;}
video,.rtu{width: 100%;}
